<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="\static\styles.css">
</head>
<body>
    <header>
        <nav>
            <div>
                <h1 class="ffont">ScoreFootball</h1>
            </div>
            <div class="inner-nav">
                <a href="/">Home</a>
                <a href="/blog">News</a>
                <a href="/news">Games</a>
                <!-- <a href="/games">Games</a> -->
                <a href="/about">About</a>
            </div>
            
        </nav>
    </header>
     <main class="full-section">
        <div class="vsection">
            <video src="static/assests/slomofb.mp4" autoplay muted loop class="soccer-video">
            </video>
        </div>
        </main>
        <div class="over-video">
    <div class="black-bar"><h2 class="ScoreFBhead">ThankYou</h2></div>
            <p class="aboutFB">ScoreFootball was built as a passion project to bring football fans closer to the game. I developed it using Python with Flask as the backend framework, which powers the app’s routes and logic. The frontend was created with HTML and CSS, keeping the design simple and user-friendly. Building this app helped me learn how to connect backend functionality with a clean interface, resulting in a smooth web experience for tracking football updates.</p>
        </div>
    
</body>
</html>