<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
<link rel="stylesheet"  href= "\static\styles.css">
</head>
<body>
    <header>
        <nav>
            <div>
                <h1 class="ffont">ScoreFootball</h1>
            </div>
            <div class="inner-nav">
                <a href="/">Home</a>
                <a href="/blog">News</a>
                <a href="/news">Games</a>
                <!-- <a href="/games">Games</a> -->
                <a href="/about">About</a>
            </div>
            
        </nav>
    </header>
    <main class="full-section">
        <div class="vsection">
            <video src="static/assests/slomofb.mp4" autoplay muted loop class="soccer-video">
            </video>
        </div>
        
        
        
    </main>
    <div class="over-video">
    <div class="black-bar"><h2 class="ScoreFBhead">Welcome to ScoreFootball</h2></div>
            <p class="ScoreFBhead">Your hub for live scores, match updates, and team stats. Stay connected with your favorite clubs, track player performances, and never miss a moment of the beautiful game. Simple, fast, and built for true football fans.</p>
        </div>
</body>
</html>