<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <nav>
            <div>
                <h1 class="ffont">ScoreFootball</h1>
            </div>
            <div class="inner-nav">
                <a href="/">Home</a>
                <a href="/blog">News</a>
                <a href="/news">Games</a>
                <!-- <a href="/games">Games</a> -->
                <a href="/about">About</a>
            </div>
            
        </nav>
    </header>
    <main class="full-section">
        <div class="vsection">
            <video src="static/assests/slomofb.mp4" autoplay muted loop class="soccer-video">
            </video>
        </div>
        </main>
        <div class="divnew">
            <h3 class="upcoming1">Click<a href="https://www.laliga.com/en-GB" class="click1"> here </a>to watch Upcoming games</h3>
        </div>
    <section class="upcoming">
    
    <table class="a"> 
        
    <tr>
        <td>Valencia </td>
        <td rowspan="2">30/8/25 <br> 1:00 AM</td>
    </tr>
    <tr>
        <td>Getafe</td>
    </tr>
    
     </table>
     <table class="b">   
    <tr>
        <td>Alvantes</td>
        <td rowspan="2">30/8/25 <br> 8:30PM</td>
    </tr>
    <tr>
        <td>Atletico Madrid</td>
    </tr>
     </table>
     <table class="c">   
    <tr>
        <td>Oviedo</td>
        <td rowspan="2">30/8/25 <br> 10:30 PM</td>
    </tr>
    <tr>
        <td>Real Sociedad</td>
    </tr>
     </table>
     <table class="d">   
    <tr>
        <td>Girona</td>
        <td rowspan="2">30/8/25 <br> 11:00 PM</td>
    </tr>
    <tr>
        <td>Sevilla</td>
    </tr>
     </table>
     <table class="e">   
    <tr>
        <td>Real Madrid</td>
        <td rowspan="2">31/8/25 <br> 1:00 AM</td>
    </tr>
    <tr>
        <td>Mallorca</td>
    </tr>
     </table>
     <table class="f">   
    <tr>
        <td>Celta Vigo</td>
        <td rowspan="2">31/8/25 <br> 8:30 PM</td>
    </tr>
    <tr>
        <td>Villarreal</td>
    </tr>
     </table>


    <table class="g">   
    <tr>
        <td>Real Betis</td>
        <td rowspan="2">31/8/25 <br> 10:30 PM</td>
    </tr>
    <tr>
        <td>Athletic Club</td>
    </tr>
     </table>
     <table class="h">   
    <tr>
        <td>Espanyol</td>
        <td rowspan="2">31/8/25 <br> 11:00 PM</td>
    </tr>
    <tr>
        <td>Osasuna</td>
    </tr>
     </table>
     <table class="i">   
    <tr>
        <td>Rayo Vallecano</td>
        <td rowspan="2">1/9/25 <br> 1:00 AM</td>
    </tr>
    <tr>
        <td>Barcelona</td>
    </tr>
     </table>
     <table class="j">   
    <tr>
        <td>Sevilla</td>
        <td rowspan="2">13/9/25 <br> 12.30 AM</td>
    </tr>
    <tr>
        <td>Elche</td>
    </tr>
     </table>
     <table class="k">   
    <tr>
        <td>Getafe</td>
        <td rowspan="2">13/9/25 <br>5:30 PM</td>
    </tr>
    <tr>
        <td>Oviedo</td>
    </tr>
     </table>
     <table class="l">   
    <tr>
        <td>Levante</td>
        <td rowspan="2">13/9/25 <br> 7:45 PM</td>
    </tr>
    <tr>
        <td>Real Betis</td>
    </tr>
     </table>
      <table class="m">   
    <tr>
        <td>Athletic Club</td>
        <td rowspan="2">TBD</td>
    </tr>
    <tr>
        <td>Alaves</td>
    </tr>
     </table>     
      <table class="n">   
    <tr>
        <td>TBD</td>
        <td rowspan="2">TBD</td>
    </tr>
    <tr>
        <td>TBD</td>
    </tr>
     </table>     
      <table class="o">   
    <tr>
        <td>TBD</td>
        <td rowspan="2">TBD</td>
    </tr>
    <tr>
        <td>TBD</td>
    </tr>
     </table>     
      <table class="p">   
    <tr>
        <td>TBD</td>
        <td rowspan="2">TBD</td>
    </tr>
    <tr>
        <td>TBD</td>
    </tr>
     </table>     
      <table class="q">   
    <tr>
        <td>TBD</td>
        <td rowspan="2">TBD</td>
    </tr>
    <tr>
        <td>TBD</td>
    </tr>
     </table>     
      <table class="r">   
    <tr>
        <td>TBD</td>
        <td rowspan="2">TBD</td>
    </tr>
    <tr>
        <td>TBD</td>
    </tr>
     </table>          
    </section>    
</body>
</html>